@import "../../_settings/_variables.css";
@import "../../_settings//_base.css";
.heading{
  font-family: var(--base-font);
}
.regular{
  
}
.label{

}
.second-font{
  font-family:var(--secondary-font);
}

