.input-container{
  display:flex;
  width: 100px;
  flex-direction: row;
}
.inputItem{
  background:transparent;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 30px;
}
.input-icon{
  position: absolute;
  max-width:25px;
  max-height: 25px;
  justify-content: center;
  align-self: center;
  margin:0 5px;
}