@import url(/home/souitech/Projects/my-app/src/_settings/_variables.css);
.checkbox-container {
  display: flex;
  align-items: center;
  /* background-color:black; */
}

.tick {
  width: 80px;
  height: 20px;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: .25em;
  margin-right: .5em;
  border: 0.063em solid var(--t-600);
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
  background-color: var(--t-400);
}

.checkbox-container input[type='checkbox']:disabled + label,
.checkbox-container input[type='checkbox']:disabled {
  color: #aaa;
  cursor: default;
}

.checkbox-container input[type='checkbox']:checked + label::before {
  content: url(tick.svg);
  background-color: var(--t-600);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 0.15em;
}

.checkbox-container input[type='checkbox']:disabled + label::before {
  background-color: #ccc;
  border-color: #999;
}
