
/*
* Colors
*/
.v-0{
color:var(--v-0);
}
.v-100{
color:var(--v-100);
}
.v-200{
color:var(--v-200);
}
.v-300{
color:var(--v-300);
}
.v-400{
color:var(--v-400);
}
.v-500{
color:var(--v-500);
}
.v-600{
color:var(--v-600);
}
.v-700{
color:var(--v-700);
}
.v-800{
color:var(--v-800);
}
.v-900{
color:var(--v-900);
}

.t-0{
color:var(--t-0);
}
.t-100{
color:var(--t-100);
}
.t-200{
color:var(--t-200);
}
.t-300{
color:var(--t-300);
}
.t-400{
color:var(--t-400);
}
.t-500{
color:var(--t-500);
}
.t-600{
color:var(--t-600);
}
.t-700{
color:var(--t-700);
}
.t-800{
color:var(--t-800);
}
.t-900{
color:var(--t-900);
}